{% extends 'base.html' %}
{% block index %}
{% load static %}
{% load humanize %}
<!---------Main -------------->
<article>
    <form id="timkiem" name="timkiem" method="post" onsubmit="return simple_search(this.tag.value,'tim-sim/','.html');">
        <div class="row">
            <input id="search-input" class="search-input" name="tag" type="tel" placeholder="Nhập số cần tìm" value="">
            <button class="search-btn">
                <svg width="15px" height="15px">
                    <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
                </svg> Tìm <span class="hide480">kiếm</span> </button>
            <ul style=" padding-left: 15px; ">
                <li>
                    <label for="search-input">Tìm sim có số <strong>6789</strong> bạn hãy gõ <strong>6789</strong>
                    </label>
                </li>
                <li>Tìm sim có đầu <strong>090 </strong>đuôi <strong>8888</strong> hãy gõ <strong>090<font size="2">*</font>8888</strong>
                </li>
                <li>Tìm sim bắt đầu bằng <strong>0914</strong> đuôi bất kỳ, hãy gõ:&nbsp;<strong>0914<font size="2">*</font></strong>
                </li>
            </ul>
        </div>
    </form>
    <center><img alt="Loading" src="images/filter-loader.gif.pagespeed.ce.TKfctFe3G_.gif" name="loading_div" width="95" height="15" border="0" id="loading_div" style="display:none">
    </center>
    <!--<a class="desktop-hide" href="/sim-dep-tra-gop"><img style="width:100%;padding-top:5px" border="0" alt="Sim số đẹp" src="//static.simthanglong.vn/images/sim-dep-tra-gop-0-phan-tram.jpg"></a>-->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td valign="middle">
                    <h1>Sim số đẹp giá dưới 500 nghìn</h1>
                    <!--<label><a class="criteria" style=" color: #288ad6; " href="javascript:tragopFilter()"><i id="active-tragop" class="ic-checkbox"></i>Hỗ trợ trả góp</a></label>-->
                </td>
                <td align="left" valign="middle"><img alt="Loading" src="images/filter-loader.gif.pagespeed.ce.TKfctFe3G_.gif" name="img_filter" width="95" height="15" border="0" id="img_filter" style="display:none">
                </td>
                <td width="127" align="right" valign="middle"><strong style=" color: red; ">10.000 sim</strong> </td>
            </tr>
        </tbody>
    </table>
    <style>
        @media (max-width: 480px) {
            .filter li {
                position: initial
            }
            .filter li .listprice {
                width: auto;
                left: 10px;
                right: 10px
            }
            #listlengthFilter:before,
            #listlengthFilter:after {
                left: 5%
            }
            #listTelcoFilter:before,
            #listTelcoFilter:after {
                left: 30%
            }
            #listPriceFilter:before,
            #listPriceFilter:after {
                left: 55%
            }
            #listSortFilter:before,
            #listSortFilter:after {
                left: 85%
            }
            .product-w60 {
                width: 100%
            }
            .product-w40 {
                width: 100%
            }
            .tblsim-res2 tr,
            .bancanbiet tr {
                height: 39px
            }
            .tblsim-res2 tbody tr:first-child,
            .bancanbiet tbody tr:first-child {
                height: 33px
            }
            .tblsim-res2 .simso {
                text-align: center;
                padding: 0;
                float: none
            }
            .bancanbiet tr a {
                font-size: 15px
            }
            .bancanbiet tr .news2 a:link {
                font-size: 15px
            }
            .page,
            .page.active {
                padding: 2px 4px!important;
                font-size: 14px!important
            }
        }

        .tblsim-res2 {
            background: #ccc;
            width: 100%
        }

        .tblsim-res2 tr {
            background: #fff;
            vertical-align: middle;
            text-align: center
        }

        .tblsim-res2 tr:nth-child(even) {
            background-color: #f9f9f9
        }

        .tblsim-res2 tr:hover {
            background-color: #e7ffca
        }

        .tblsim-res2 tr {
            height: 39px!important
        }
    </style>
    <ul class="filter" id="filter">
        <li class="frange" onclick="showFilter('listlengthFilter')"> <span class="criteria">Đầu số</span>
            <div id="listlengthFilter" class="listprice" style="display: none;">
                <button type="button" class="closefilter"><i class="ic-closefilter"></i>
                </button>
                <label id="lF0" onclick="lengthFilter(0);" class="all check"><i class="ic-checklist"></i><a href="javascript:void(0);"> Tất cả</a>
                </label>
                <label id="lF10" onclick="lengthFilter('10');"><i class="ic-checklist"></i><a href="javascript:javascript:void(0);" class="prevent"> Sim đầu số cũ </a>
                </label>
                <label id="lF11" onclick="lengthFilter('11');"><i class="ic-checklist"></i><a href="javascript:javascript:void(0);" class="prevent"> Sim đầu số mới </a>
                </label>
            </div>
        </li>
        <li class="frange" onclick="showFilter('listTelcoFilter')"> <span class="criteria"><span class="hide480">Nhà </span>Mạng </span>
            <div id="listTelcoFilter" class="listprice" style="display: none;">
                <button type="button" class="closefilter"><i class="ic-closefilter"></i>
                </button>
                <label id="tF0" onclick="telcoFilter(0)" class="all check"><i class="ic-checklist"></i><a href="javascript:void(0);"> Tất các mạng</a>
                </label>
                <label id="tF1" onclick="telcoFilter(1)"><i class="ic-checklist"></i><a href="javascript:void(0);" class="prevent"> Viettel</a>
                </label>
                <label id="tF2" onclick="telcoFilter(2)"><i class="ic-checklist"></i><a href="javascript:void(0);" class="prevent"> Vinaphone</a>
                </label>
                <label id="tF3" onclick="telcoFilter(3)"><i class="ic-checklist"></i><a href="javascript:void(0);" class="prevent"> Mobifone</a>
                </label>
                <label id="tF4" onclick="telcoFilter(4)"><i class="ic-checklist"></i><a href="javascript:void(0);" class="prevent"> Vietnamobile</a>
                </label>
                <label id="tF5" onclick="telcoFilter(5)"><i class="ic-checklist"></i><a href="javascript:void(0);" class="prevent"> Gmobile</a>
                </label>
            </div>
        </li>
        <li class="frange" onclick="showFilter('listPriceFilter');var objDiv = document.getElementById('listPriceFilter');objDiv.scrollTop = objDiv.scrollHeight;" style=" display: none; "> <span class="criteria"><span class="hide480">Khoảng </span>Giá</span>
            <div id="listPriceFilter" class="listprice" style="display: none;">
                <button type="button" class="closefilter"><i class="ic-closefilter"></i>
                </button>
                <label id="pF0" onclick="priceFilter(0);" class="all check"><i class="ic-checklist"></i><a href="javascript:void(0);"> Tất cả mức giá</a>
                </label>
                <label id="pF01" onclick="priceFilter('0,1');"><i class="ic-checklist"></i><a href="javascript:javascript:void(0);" class="prevent"> Dưới 1 triệu </a>
                </label>
                <label id="pF13" onclick="priceFilter('1,3');"><i class="ic-checklist"></i><a href="javascript:javascript:void(0);" class="prevent"> 1 - 3 triệu </a>
                </label>
                <label id="pF35" onclick="priceFilter('3,5');"><i class="ic-checklist"></i><a href="javascript:javascript:void(0);" class="prevent"> 3 - 5 triệu </a>
                </label>
                <label id="pF510" onclick="priceFilter('5,10');"><i class="ic-checklist"></i><a href="javascript:javascript:void(0);" class="prevent"> 5 - 10 triệu </a>
                </label>
                <label id="pF1020" onclick="priceFilter('10,20');"><i class="ic-checklist"></i><a href="javascript:javascript:void(0);" class="prevent"> 10 - 20 triệu </a>
                </label>
                <label id="pF2050" onclick="priceFilter('20,50');"><i class="ic-checklist"></i><a href="javascript:javascript:void(0);" class="prevent"> 20 - 50 triệu </a>
                </label>
                <label id="pF50100" onclick="priceFilter('50,100');"><i class="ic-checklist"></i><a href="javascript:javascript:void(0);" class="prevent"> 50 - 100 triệu </a>
                </label>
                <label id="pF1000" onclick="priceFilter('100,0');"><i class="ic-checklist"></i><a href="javascript:javascript:void(0);" class="prevent"> Trên 100 triệu </a>
                </label>
            </div>
        </li>
        <li class="frange" onclick="showFilter('listSortFilter')"> <span class="criteria">Sắp xếp </span>
            <div id="listSortFilter" class="listprice" style="display: none;">
                <button type="button" class="closefilter"><i class="ic-closefilter"></i>
                </button>
                <label id="sF0" onclick="sortFilter(0)" class="all check"><i class="ic-checklist"></i><a href="javascript:void(0);"> Ngẫu nhiên</a>
                </label>
                <label id="sF1" onclick="sortFilter(1)"><i class="ic-checklist"></i><a href="javascript:void(0);" class="prevent"> Giá thấp đến cao</a>
                </label>
                <label id="sF2" onclick="sortFilter(2)"><i class="ic-checklist"></i><a href="javascript:void(0);" class="prevent"> Giá cao đến thấp</a>
                </label>
                <label id="sF3" onclick="sortFilter(3)"><i class="ic-checklist"></i><a href="javascript:void(0);" class="prevent"> Số đẹp giá tốt </a>
                </label>
                <label id="sF4" onclick="sortFilter(4)"><i class="ic-checklist"></i><a href="javascript:void(0);" class="prevent"> Số mới cập nhật </a>
                </label>
            </div>
        </li>
    </ul>
    <div class="choosedfilter"> <a id="choosedfilter" class="reset" href="javascript:resetFilter();">Xóa tất cả<i class="ic-clearfil"></i></a> </div>
    <table id="contentdanhsachsim" width="100%" border="0" cellpadding="8" cellspacing="0" bgcolor="#CCCCCC" style="display:none">
        <tbody>
            <tr>
                <td id="lblLocdanhsachsim" width="0%" align="right" valign="middle" bgcolor="#FFFF99"></td>
                <td width="100%" align="left" valign="middle" bgcolor="#FFFF99">
                    <form style=" margin-bottom: 0px; " id="filter_form" name="filter_form" method="get" action="sim-theo-gia/duoi-500-nghin.html?do=filter">
                        <select name="m10so_filter" id="m10so_filter" style="width:22%" onchange="submit_filter();">
                            <option value="0">10/11 số</option>
                            <option value="10">10 số</option>
                            <option value="11">11 số</option>
                        </select> &nbsp;
                        <select name="price_filter" id="price_filter" style="width:22%" onchange="submit_filter();">
                            <option value="0">Mức giá</option>
                            <option value="0,1">Dưới 1 triệu</option>
                            <option value="1,3">1 - 3 triệu</option>
                            <option value="3,5">3 - 5 triệu</option>
                            <option value="5,10">5 - 10 triệu</option>
                            <option value="10,20">10 - 20 triệu</option>
                            <option value="20,50">20 - 50 triệu</option>
                            <option value="50,100">50 - 100 triệu</option>
                            <option value="100,0">Trên 100 triệu</option>
                        </select> &nbsp;
                        <select name="telco_filter" id="telco_filter" style="width:22%" onchange="submit_filter();">
                            <option value="0">Mạng</option>
                            <option value="1">Viettel</option>
                            <option value="2">Vinaphone</option>
                            <option value="3">Mobifone</option>
                            <option value="4">Vietnamobile</option>
                            <option value="5">Gmobile</option>
                            <!--<option value="6">Sfone</option> <option value="7">Máy bàn</option>-->
                        </select>&nbsp;
                        <select name="giaban_filter" id="giaban_filter" style="width:22%" onchange="submit_filter();">
                            <option value="0">Sắp xếp</option>
                            <option value="1">Giá thấp đến cao</option>
                            <option value="2">Giá cao đến thấp</option>
                            <option value="3">Số đẹp giá tốt</option>
                            <option value="4">Số mới cập nhật</option>
                        </select>
                        <select name="tragop_filter" id="tragop_filter" style="width:22%" onchange="submit_filter();">
                            <option value="0">Tất cả</option>
                            <option value="1">Hỗ trợ trả góp</option>
                        </select>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="tblsim-res2" cellspacing="1">
        <thead>
            <tr class="hide480" style="display:none">
                <th class="hide480 tdw35" height="25" background="images/Nx25xgrid_bg.gif.pagespeed.ic.EfN4oIAt4r.webp"><span class="grid_title">STT</span>
                </th>
                <th class="tdw140" background="images/xgrid_bg.gif.pagespeed.ic.HP4k-6Oexi.webp"><span class="grid_title">Số Sim</span>
                </th>
                <th class="tdw140" background="images/xgrid_bg.gif.pagespeed.ic.HP4k-6Oexi.webp"><span class="grid_title">Giá bán</span>
                </th>
                <th class="tdw120 hide480" background="images/xgrid_bg.gif.pagespeed.ic.HP4k-6Oexi.webp"><span class="grid_title">Mạng di động</span>
                </th>
                <th class="hide480 hide555 tdw90" background="images/xgrid_bg.gif.pagespeed.ic.HP4k-6Oexi.webp"><span class="grid_title">Loại sim</span>
                </th>
                <th class=" tdw85" valign="middle" align="center" background="images/xgrid_bg.gif.pagespeed.ic.HP4k-6Oexi.webp"><span class="grid_title">Mua sim</span>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for sim in sim %}
            <tr>
                <td class="hide480"><span class="sott">1</span>
                </td>
                <td><span class="simso"><a href="{% url 'sanpham:sanpham' sim.slug %}"><span>{{ sim.SoSim }}</span>
                    </a>
                    </span>
                </td>
                <td><strong>{{ sim.Gia|intcomma }}₫</strong>
                </td>
                <td class="hide480"><span class="lg-{{ sim.Mang | lower}}">{{ sim.Mang }}</span>
                </td>
                <td class="hide480 hide555"> <span class="cat2">{% for ls in stl|slice:"1" %}{{ ls.title}}{% endfor %}</span>

                </td>
                <td class=""><span class="news2 btn-mua" ><a href="{% url 'sanpham:sanpham' sim.slug %}" style="color: white">Mua sim</a> </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination" align="center"> <span class="page active">1</span>
        <a href="sim-theo-gia/duoi-500-nghin-p2.html" title="Đến trang 2" class="page">2</a>
        <a href="sim-theo-gia/duoi-500-nghin-p2.html" title="Đến trang tiếp" class="page">Tiếp »</a>
        <br>
        <br>
       </div>
    <center> </center>
    <form action="" method="get" id="chitietsim"></form>
    <script type="text/javascript">
        function setFilterAll() {
            set_filter2('0', '0', '0', '0', '0');
        }
        window.onload = setFilterAll;

        function ctsim(sosim) {
            sosim = sosim.replace(/\D/g, "");
            document.getElementById("chitietsim").action = sosim;
            document.getElementById("chitietsim").submit();
        }
    </script>
    <br> </article>


{% endblock %}