<div class="list-group">
    <a href="javascript:void(0);" class="list-group-item active">Sim theo giá</a>
                    <div class="box2col177">
                                            {% for cate in sim %}
                        <a class="list-group-item lgit" href="{% url 'sanpham:category' cate.LoaiGia.slug %}">{{ cate.LoaiGia.title }}</a>
                                                {% endfor %}
                    </div>
</div>

<div class="list-group"> <a href="javascript:void(0);" class="list-group-item active">Sim theo mạng</a>
                    <div class="box2col177">
                        {% for cate in sim %}
                        <a class="list-group-item lgit" href="{% url 'sanpham:category' cate.Mang.slug %}">{{ cate.Mang.title }}</a>
                          {% endfor %}
                    </div>

</div>

<div class="list-group"> <a href="javascript:void(0);" class="list-group-item active">Sim theo loại</a>
                    <div class="box2col177">
                        {% for cate in sim %}
                            {% for ls in cate.LoaiSims.all %}

                        <a class="list-group-item lgit" href="{% url 'sanpham:category' ls.slug %}">{{ ls.title }}</a>
                            {% endfor %}
                        {% endfor %}
                    </div>
</div>

<div class="list-group hide480"> <a href="javascript:void(0);" class="list-group-item active">Sim năm sinh</a>
                    <div class="box2col177">
                        {% for cate in sim %}
                        <a class="list-group-item lgit" href="{% url 'sanpham:category' cate.NamSinh.slug %}">{{ cate.NamSinh.title }}</a>
                         {% endfor %}
                    </div>
</div>

