<div class="main_slider_area">
    <div id="home_box_slider" class="rev_slider" data-version="5.3.1.6">
        <ul>
            <li data-index="rs-1587" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="~/img/home-slider/slider-1.jpg" data-rotate="0" data-saveperformance="off" data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <a class="" href="{% url 'sanpham:sanphamtheoloai' 1 %}">
                    <!-- MAIN IMAGE -->
                    <img src="/media/mpimbwe_frontosa.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina style="width: 100%; height: 100%;">
                    <!-- LAYER NR. 1 -->
                    <div class="slider_text_box first_text">
                        <div class="tp-caption tp-resizeme first_text"
                             data-x="['left','left','left','left','left','left']"
                             data-hoffset="['60','60','60','60','20','0']"
                             data-y="['top','top','top','top','top','top']"
                             data-voffset="['70','70','70','70','70','70']"
                             data-fontsize="['48','48','48','48','48','48']"
                             data-lineheight="['56','56','56','56','56','48']"
                             data-width="['none','none','none','none','none']"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                             data-textAlign="['left','left','left','left','left','left']" style="color:white">Cá
                        </div>
                    </div>
                </a>
            </li>
            <li data-index="rs-1588" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="~/img/home-slider/slider-2.jpg" data-rotate="0" data-saveperformance="off" data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <a class="" href="{% url 'sanpham:sanphamtheoloai' 2 %}">
                    <!-- MAIN IMAGE -->
                    <img src="/media/Hikari_Cichlid_Gold.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina style="width: 100%; height: 100%;">
                    <!-- LAYERS -->
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="slider_text_box first_text">
                        <div class="tp-caption tp-resizeme first_text"
                             data-x="['left','left','left','left','left','left']"
                             data-hoffset="['60','60','60','60','20','0']"
                             data-y="['top','top','top','top','top','top']"
                             data-voffset="['70','70','70','70','70','70']"
                             data-fontsize="['48','48','48','48','48','48']"
                             data-lineheight="['56','56','56','56','56','48']"
                             data-width="['none','none','none','none','none']"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                             data-textAlign="['left','left','left','left','left','left']">Thức ăn
                        </div>
                    </div>
                </a>
            </li>
            <li data-index="rs-1589" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="~/img/home-slider/slider-2.jpg" data-rotate="0" data-saveperformance="off" data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <a class="" href="{% url 'sanpham:sanphamtheoloai' 3 %}">
                    <!-- MAIN IMAGE -->
                    <img src="/media/White_Sand.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina style="width: 100%; height: 100%;">
                    <!-- LAYERS -->
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="slider_text_box first_text">
                        <div class="tp-caption tp-resizeme first_text"
                             data-x="['left','left','left','left','left','left']"
                             data-hoffset="['60','60','60','60','20','0']"
                             data-y="['top','top','top','top','top','top']"
                             data-voffset="['70','70','70','70','70','70']"
                             data-fontsize="['48','48','48','48','48','48']"
                             data-lineheight="['56','56','56','56','56','48']"
                             data-width="['none','none','none','none','none']"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                             data-textAlign="['left','left','left','left','left','left']">Trang trí
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="promotion_area">
    <div class="feature_inner row m0">
        <div class="left_promotion">
            <div class="f_add_item">
                <a class="" href="{% url 'sanpham:sanphamtheoloai' 4 %}" style="color:black;">
                    <div class="f_add_img"><img class="img-fluid" src="/media/melafix.jpg" alt="" style="height: 100%;"></div>
                    <div class="f_add_hover">
                        <!--<div class="sale">Giảm giá</div>-->
                        <h4 style="color:black;">Thuốc</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="right_promotion">
            <div class="f_add_item right_dir">
                <a class="" href="{% url 'sanpham:sanphamtheoloai' 5 %}" style="color:black;">
                    <div class="f_add_img"><img class="img-fluid" src="/media/odyssea.jpg" alt="" style="width: 100%; height: 100%;"></div>
                    <div class="f_add_hover">
                        <!--<div class="off">10% </div>-->
                        <h4 style="color:black;">Khác</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>