{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'home/img/icon/icon.png' %}" type="image/x-icon" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %}</title>

    {% block cssblock %}
    {% endblock %}
</head>
<body class="home_sidebar">
    <div class="home_box">
        <!--================Menu Area =================-->
        {% include 'pages/navbar.html' %}
        <!--================End Menu Area =================-->
        <!--================Main Content Area =================-->
        <section class="home_sidebar_area">
            <div class="container">
                <div class="row row_disable">
                    <div class="col-lg-9 float-md-right">
                        <div class="sidebar_main_content_area">
                            <!--==============Search Area ===============-->
                            {% include 'pages/timkiem.html' %}
                            <!--==============End Search Area ===============-->
                            <!--==============Banner Area ===============-->
                            {% include 'pages/banner.html' %}
                            <!--==============End Banner Area ===============-->
                            <div class="fillter_home_sidebar">
                                <div class="home">
                                    <div>
                                        {% block content %}{% endblock %}
                                    </div>
                                </div>
                            </div>
                            <div class="home_sidebar_blog">
                                {% include 'pages/dstintuc.html' %}
                            </div>
                        </div>
                    </div>
                    <!--==============Left Content Area ===============-->
                    {% include 'pages/leftcontent.html' %}
                    <!--==============End Left Content Area ===============-->
                </div>
            </div>
        </section>
        <!--================End Main Content Area =================-->
        <!--================World Wide Service Area =================-->
        <!--================End World Wide Service Area =================-->
        <!--================Footer Area =================-->
        {% include 'pages/footer.html' %}
        <!--================End Footer Area =================-->
    </div>
    {% block jsblock %}
    {% endblock %}
</body>
</html>