<div class="col-lg-3 float-md-right">
    <div class="left_sidebar_area">
        <aside class="l_widget l_supper_widget">
            <img class="img-fluid" src="/media/bunduri_frontosa.jpg" alt="">
            <h4>CichlidShop</h4>
        </aside>
        <aside class="l_widget l_feature_widget">
            <div class="verticalCarousel">
                <div class="verticalCarouselHeader">
                    <div class="float-md-left">
                        <h3>Sản phẩm mới</h3>
                    </div>
                    <div class="float-md-right">
                        <a href="#" class="vc_goUp"><i class="arrow_carrot-left"></i></a>
                        <a href="#" class="vc_goDown"><i class="arrow_carrot-right"></i></a>
                    </div>
                </div>
                <ul class="verticalCarouselGroup vc_list">
                    {% include 'pages/sanphammoi.html' %}
                </ul>
            </div>
        </aside>
        <aside class="l_widget l_news_widget">
            <h3>Thông báo</h3>
            <p>Đăng ký để nhận tin tức mới của chúng tôi !</p>
            <div class="input-group">
                <input type="email" class="form-control" placeholder="yourmail@gmail.com" aria-label="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary subs_btn" type="button">Đăng ký</button>
                </span>
            </div>
        </aside>
    </div>
</div>