{% for sanpham in SanPhamMois %}

    <li style="border-bottom:ridge 1px;">
        <div class="media">
            <a href="{% url 'sanpham:sanpham' sanpham.id %}">
                <div class="d-flex">
                    <img src="{{sanpham.Anh.url}}" alt="{{sanpham.TenSanPham}}" style="width: 100%; height: 100%;"/>
                </div>
                <div class="media-body" style="text-align:center;">
                    <h4>{{sanpham.TenSanPham}}</h4>
                    <h5>{{sanpham.GiaChinhThuc}} VNĐ</h5>
                </div>
            </a>
        </div>
    </li>

{% endfor %}