{% extends "pages/basedetail.html" %}
{% load static %}

{% block title %}
{{sanpham.TenSanPham}}
{% endblock %}

{% block cssblock %}
    <!-- Icon css link -->
    <link href="{% static 'home/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'home/vendors/line-icon/css/simple-line-icons.css' %}" rel="stylesheet">
    <link href="{% static 'home/vendors/elegant-icon/style.css' %}" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{% static 'home/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Rev slider css -->
    <link href="{% static 'home/vendors/revolution/css/settings.css' %}" rel="stylesheet">
    <link href="{% static 'home/vendors/revolution/css/layers.css' %}" rel="stylesheet">
    <link href="{% static 'home/vendors/revolution/css/navigation.css' %}" rel="stylesheet">

    <!-- Extra plugin css -->
    <link href="{% static 'home/vendors/owl-carousel/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'home/vendors/bootstrap-selector/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'home/vendors/vertical-slider/css/jQuery.verticalCarousel.css' %}" rel="stylesheet">

    <link href="{% static 'home/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'home/css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'home/css/PagedList.css' %}" rel="stylesheet" />


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block content %}
    <section class="product_details_area" style="margin-bottom:20px; margin-top:-75px">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="product_details_slider">
                        <div class="rev_slider" data-version="5.3.1.6">
                            <img src="{{sanpham.Anh.url}}" alt="{{sanpham.TenSanPham}}" style="width:100%; height: 100%; float:right;"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="product_details_text">
                        <h2>{{sanpham.TenSanPham}}</h2>
                        <!--Kiểm tra số lượng sản phẩm-->
                        {% if sanpham.SoLuong == 0 %}
                            <style>
                                #add_cart_{{sanpham.id}} {
                                    cursor: not-allowed;
                                    pointer-events: none;
                                }
                                #SoLuong {
                                    display: none;
                                }
                            </style>
                        {% else %}
                            <style>
                                #hethang_{{sanpham.id}} {
                                    display: none;
                                }
                            </style>
                        {% endif %}
                        <h3 id="hethang_{{sanpham.id}}" style="color:red; margin-top:5px;">Hết hàng</h3>
                        <h4 id="SoLuong">Số lượng: {{sanpham.SoLuong}}</h4>
                        <div>
                            <h4 style="color:red; float:left;">Giá: {{sanpham.GiaChinhThuc}} VNĐ </h4>

                            <span id="gia" style="float: left;">&emsp;<del>{{sanpham.Gia}} VNĐ</del> (-{{sanpham.GiamGia}}%)</span>
                        </div>
                        <div class="quantity">
                            <p>{{sanpham.MoTa}}</p>
                        </div>
                        <div class="quantity">
                            {% include 'pages/themvaogiohang.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{sanpham.body|safe|linebreaks}}
{% endblock  %}

{% block jsblock %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'home/js/jquery-3.2.1.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'home/js/popper.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <!-- Rev slider js -->
    <script src="{% static 'home/vendors/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'home/vendors/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'home/vendors/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
    <script src="{% static 'home/vendors/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
    <script src="{% static 'home/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script src="{% static 'home/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script src="{% static 'home/vendors/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script src="{% static 'home/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <!-- Extra plugin css -->
    <script src="{% static 'home/vendors/counterup/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'home/vendors/counterup/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'home/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'home/vendors/bootstrap-selector/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'home/vendors/image-dropdown/jquery.dd.min.js' %}"></script>
    <script src="{% static 'home/js/smoothscroll.js' %}"></script>
    <script src="{% static 'home/vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'home/vendors/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'home/vendors/magnify-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'home/vendors/vertical-slider/js/jQuery.verticalCarousel.js' %}"></script>
    <script src="{% static 'home/vendors/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'home/js/theme.js' %}"></script>
{% endblock %}