<div class="mb-3" >
    <form class="advanced_search_area" method="get" action="{% url 'timkiem:ketquatimkiem' %}">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Tìm kiếm" aria-label="Search" style="width:802px;" value="{{request.GET.q}}">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit"><i class="icon-magnifier icons"></i></button>
            </span>
        </div>
    </form>
</div>